@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
/* Material Icons  */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.my-font{
    font-family: 'Pacifico';
}

.text-orange {
    color: #FA591D !important;
}
  
a.text-orange:hover,
a.text-orange:focus {
    color: rgb(212, 77, 28) !important;
}