@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
/* Material Icons  */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.my-font{
    font-family: 'Pacifico';
}

.text-orange {
    color: #FA591D !important;
}
  
a.text-orange:hover,
a.text-orange:focus {
    color: rgb(212, 77, 28) !important;
}

.material-icons{
    font-size: 1rem;
}

.badge-orange {
    color: #fff;
    background-color: #FA591D;
}
  
a.badge-orange:hover,
a.badge-orange:focus {
    color: #fff;
    background-color: rgb(212, 77, 28);
}
  
a.badge-orange:focus,
a.badge-orange.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(212, 77, 28, 0.5);
}

.btn-outline-orange {
    color: #FA591D;
    border-color: #FA591D;
}

.btn-outline-orange:hover {
    color: #fff;
    background-color: #FA591D;
    border-color: #FA591D;
}

.btn-outline-orange:focus,
.btn-outline-orange.focus {
    box-shadow: 0 0 0 0.2rem rgba(212, 77, 28, 0.5);
}

.btn-outline-orange.disabled,
.btn-outline-orange:disabled {
    color: #FA591D;
    background-color: transparent;
}

.btn-outline-orange:not(:disabled):not(.disabled):active,
.btn-outline-orange:not(:disabled):not(.disabled).active,
.show > .btn-outline-orange.dropdown-toggle {
    color: #fff;
    background-color: #FA591D;
    border-color: #FA591D;
}

.btn-outline-orange:not(:disabled):not(.disabled):active:focus,
.btn-outline-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-orange.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(212, 77, 28, 0.5);
}